<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121 -->
<Project>
	<PropertyGroup>
		<Platform>Any CPU</Platform>
		<Configuration>Release</Configuration>
		<PublishProtocol>FileSystem</PublishProtocol>
		<RuntimeIdentifier>win-x86</RuntimeIdentifier>
		<PublishReadyToRun>false</PublishReadyToRun>
		<SelfContained>false</SelfContained>
		<TargetFramework>net472</TargetFramework>
		<PublishDir>publish\net472\</PublishDir>
		<PublishSingleFile>false</PublishSingleFile>
	</PropertyGroup>

	<PropertyGroup Condition="'$(Configuration)'=='Release'">
		<DebugSymbols>False</DebugSymbols>
		<DebugType>None</DebugType>
	</PropertyGroup>
</Project>